*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration:none;
}
/* .main_container{
    max-width: 1920px;
    margin: auto;
} */

/* header */
header .header_right ul{
    display: flex;
    gap: 50px;
}
header .header_menu{
    display: flex;
    justify-content: space-between;
    /* padding:60px 80px 95px 95px; */
    font-family: "Jost", sans-serif;
    letter-spacing: 2px;
    font-size: inherit !important;
    max-width: 1320px;
}
/* header */
/* home */
#home .onhome{
    /* display: flex;
    justify-content: center; */
    margin-left: 200px;
}
#home .icon{
    margin-left: 600px;
    margin-top: -200px;
}

#home .inhome{
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    background-size: contain;
    background-position: 480px 0px;
    background-repeat: no-repeat;
    background: rgb(31, 34, 53);
    width: 85%;
    height: 450px;
    padding-left: 10px;
}
#home .home_text{
    width: 550px;
    margin-left: -100px;
}
#home .inhome h1{
    font-size: 45px;
    font-family: "Jost", sans-serif;
    color: #ffffff;
    font-weight: 600;
}
#home p{
    line-height: 26px;
    margin-top: 40px;
    color: #fff;
    font-family: "Jost", sans-serif;
}
#home .link{
    margin-top: -50px;
    
    
}
#home .link_br{
    margin-top: -23px;
    margin-left: 150px;
    width: 300px;
}
#home a{
    padding: 20px 35px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(254, 70, 28);;
    font-family: "Jost", sans-serif;
    transition: .5s ease;
    font-weight: bolder;
    width: 400px;
}
#home .home_img{
    margin-right: -25px;
    margin-bottom: -4px;
}
#home .home_text{
    margin-right: 0px;
    margin-top: 115px;
}
#home .home_text h3{
    color: rgb(255, 255, 255);
    font-family: Public Sans;
    font-size: 16px;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 15%;
    text-align: left;
    text-transform: capitalize;
}
#home .home_text p{
    color: rgb(255, 255, 255);
    font-family: Public Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: -5px;
}
#home a:hover{
}
/* home */
/* work */ 
.text ul {
    display: flex;
    gap: 30px;
    text-align: center;
    margin-left: 670px;
    margin-top: 14px;
}
.text h1{
    color: rgb(199, 35, 35);
    font-family: Outfit;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    margin-left: -150px;
    margin-top: 70px;
    text-align: center;
}
#work {
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    background-size: contain;
    background-position: 480px 0px;
    background-repeat: no-repeat;
    background: rgb(26, 33, 82);
    height: 450px;
    margin-left: 140px;
}
/* work */